.menu{
    display: flex;
    justify-content : space-around;   
}
.menu li {
    margin-top: 20px;
    padding : 70px; 
    font-weight: 800;
    
}

a{
    text-decoration : none;
    font-style: normal;

    
}

.ccl{
    float : left; 
    margin-left:0;
    width : 100px;
    height: 20;
}
.floor{
    border-top: black 1px solid;
}

#topmenu{
    list-style: none;
    display : flex;
    justify-content: space-between;
  }

.head{
    display : flex;
    justify-content:space-between;
    align-items: center;
}

.courses_logo{
    padding : 30px;
    display : flex;
}

.search{
    display : flex;   
    width: 200px;
    height: 30px;
    padding : 60px;
    margin-left: 30;
}

.video{
    display : flex;
    padding : 30px;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.logo{
    padding :20px;
}


h1{
    font-size: 3rem;

}

h3{
    text-align: center;
}

.videos{
    padding : 30px;
    margin : 20PX;
    border : solid 5px gray ;
    align-self: center;
}

.videos1 {
    padding : 30px;
    margin : 20PX;
    border : solid 5px rgb(96,162,206) ;
    align-self: center;
}



.information{
    padding : 20px;
    margin-left : 20px;
}
.member{
    margin-bottom: 30px;
}

.VR체험{
    padding: 50;
}

.공지{
    border-top : 5px gray solid;
    border-bottom : 5px gray solid;
    margin : 20px;
    margin-bottom : 200px;
    align-items: center;
}
#공지1{
    border-top: 5px rgb(151, 150, 150) solid;
    text-decoration-color : black;
    padding-bottom : 10px;
    padding-top:10px ;
    
}

#공지2{
    border-top: 5px rgb(151, 150, 150) solid;
    text-decoration-color : black;
    padding-bottom : 10px;
    padding-top:10px ;
    
}
#공지0{
    text-align: center;
    background-color: gray;
    color : white;
    padding-bottom : 10px;
    padding-top:10px ;

}
#site{
    text-decoration-line: underline;
    margin-bottom: 95px;
}

#darkmode{
    width:100px;

    background-color:rgb(172, 169, 169);

    border: none;

    color:black;

    padding: 15px 0;

    text-align: center;

    text-decoration: none;

    border-radius: 10px;

    font-size: 15px;

    margin: 4px;

    cursor: pointer;

}
.mode{ align-self: center;
    
}

.dark-mode{
    background-color: black;
    color : rgb(96, 162, 206);

    }
    



